@font-face {
  font-family: 'Dongle-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108_2@1.0/Dongle-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UhBeeann';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeann.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100%;
}

.nav-ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 10px;
}


nav>ul>li {
  font-size: 30px;
  list-style: none;

}

nav ul li a {
  text-decoration: none;
  color: inherit;

}

* {
  font-family: 'Dongle-Regular';
  box-sizing: border-box;
}


body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  position: relative;
  width: 320px;
  height: 568px;
  border-radius: 16px;
  background-image: url(istockphoto-184921412-612x612.jpg);
}

.app>h1 {
  font-size: 2em;
  text-align: center;
  margin: 8px 5px 0 5px;
  border-bottom: 0.5px solid rgb(234, 234, 234);
}

div>ul {
  max-height: 420px;
  overflow: auto;
  margin-top: 0;
  text-align: right;
}

div>ul>li {
  cursor: pointer;
  position: relative;
  left: 60px;
  list-style-type: none;
  width: 200px;
  height: 38px;
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 8px;
  font-family: 'UhBeeann';
  font-size: 25px;
}

div>ul>li::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0;
  border-bottom: 16px solid transparent;

  font-family: 'UhBeeann';

}

div>ul>li>span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 8px;

  position: absolute;
  left: -20px;
  bottom: 2px;
}

form {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
}

input {
  font-size: 1.4em;
  margin: 0;
  border: none;
  height: 45px;
}

input[type="text"] {
  width: 240px;
  padding-left: 10px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
  width: 80px;
  border-radius: 8px;
  background-color: rgb(254, 229, 77);
}

.done {

  text-decoration: line-through;
  text-decoration-color: red;
}

.done::after {
  content: none
}